* {
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(81, 33, 121);
}

header {
    background-color: rgb(170, 240, 30);

    .navImage {
        .logo {
            img {
                width: 150px;
                margin-left: 50px;
            }
        }

        background-image: url(../assets/navimg.jpg);
        background-repeat: no-repeat;
        background-position: right;
    }

    .menu {
        display: flex;
        justify-content: center;
        background-color: black;
        height: 50px;

        .boton {
            display: flex;
            align-items: center;
            font-size: larger;
            justify-content: center;
            color: rgb(170, 240, 30);
            background-color: black;
            width: 100px;
            border: none;
            padding: 20px;
            text-decoration: none;

        }

        a:hover {
            background-color: yellowgreen;
            color: black;
        }

    }
}
/* Banner carrousel */
.banner-carousel {
    width: 800px;
    height: 200px;
    margin: 40px auto;
    overflow: hidden;
    border-radius: 10px;
    background: #000;
}

.banner-track {
    display: flex;
    animation: scroll 15s linear infinite;
}

.banner-carousel:hover .banner-track {
    animation-play-state: paused;
}

.banner-track img {
    width: 800px;
    height: 200px;
}

@keyframes scroll {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-400%); }
}
/* Fin del banner */
